

.apexcharts-legend-marker {
  margin-left: 10px !important;
  width: 20px !important;
}

.apexcharts-legend-text {
  font-size: 14px !important;
  font-weight: 600 !important;
}
/* #SvgjsCircle1008 {
  background-color: brown !important;
  width: 100px;
  r: 50;
} */