/* style.css */

/* Common styles for both individual and group navigation links */
.side-nav-link {
  color: rgba(255, 255, 255) !important;
  opacity: 2;
  /* transition: opacity 0.3s ease !important; */
  font-weight: 600 !important;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-icon{
/* background-color: brown; */
color: #ffffff !important;
  opacity: 1 !important;
}

/* Apply higher opacity to side navigation links on hover */

/* Apply specific styles to active side navigation links */
.side-nav-link.active {
  background-color: #2261a1 !important;
  color: #000;
  /* Remove opacity property */
  opacity: 1;
}

/* Additional styles for group navigation items */
.nav-group {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.932) !important;
  font-weight: 600 !important;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* Apply specific styles to active group navigation items */
.nav-group.active {
  background-color: #f8f9fa;
  color: #000;
}



.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}