.arrow_div {
  display: flex;
  align-items: center;
}

.main_container {
  margin-inline: 4%;
  margin-bottom: 100px !important;
  margin-top: 3%;
}

@media screen and (max-width: 768px) {
  .arrow_div {
    transform: rotate(270deg);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 1400px) {
  .processheader {
    margin-bottom: 10px !important;
  }
}

.image-upload-container {
  margin-top: 10%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.box-decoration {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload-label {
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.image-upload-input {
  display: none;
}

.image-upload-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0rem rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.image-upload-button:hover {
  background-color: #3cc545;
}

.img-display-before {
  height: 120px;
  width: 120px;
  margin-left: 5px;
}

.img-display-after {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: 10px;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

input#inputField1::before {
  content: " \1F4C1   فایل                                        ";
  display: inline-block;
  margin-right: 10px;
}

input#inputField2::before {
  content: " \1F4C1   عکس                                ";
  display: inline-block;
  margin-right: 10px;
}
